.Footer-Container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 8rem;
  height: 3rem;
  background-color: aliceblue;
  z-index: 100;
}

.Footer-Container a {
  color: black;
  margin: auto;
  display: flex;
}

.Footer-Container a:hover {
  color: white;
  background-color: #555
}